/*
 * Style header common
 */

header#masthead {
  .mobile-logo {
    display: none;
  }

  .retina-logo {
    display: none;
  }

  &.has-retina-logo {
    @media (-webkit-min-device-pixel-ratio: 2),
    (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .no-sticky-logo {
        width: 180px;
        max-width: 180px;
        display: inline-block !important;
      }
      .logo,
      .mobile-logo,
      .sticky-logo img {
        display: none !important;
      }
      .retina-logo {
        display: inline-block !important;
      }
    }

  }

  // Header V2
  .stack-center {
    .col-sm-12 {
      width: 100%;
      display: block;
      text-align: center;
      &.width-logo {
        margin-bottom: 20px;
      }
    }
    .inner-navigation {
      @media (min-width: 769px) {
        display: block;
        float: none;
      }
      .navbar {
        @media (min-width: 769px) {
          text-align: center;
          display: block;
          width: 100%;
          margin: 0;
        }
      }
    }
  }

  // Header V3
  .header-v3 {
    .navigation-top {
      margin-bottom: 15px;
    }
    #primary-menu > li:first-child > a {
      padding-left: 0;
    }
  }
}

@media (max-width: 768px) {
  body.responsive {
    #primary-menu {
      display: none;
    }

    .content-pusher {
      position: relative;
      overflow: hidden;
      &.mobile-menu-open {
        .navigation,
        .navigation-top {
          .menu-mobile-effect {
            display: none;
          }
        }
        .mobile-menu-container {
          .menu-mobile-effect {
            position: relative;
            top: 25px;
            right: 15px;
            .icon-bar {
              @include rotate(-45deg);
              top: 13px;
              &:nth-child(2) {
                @include opacity(0);
              }
              &:nth-child(3) {
                @include rotate(45deg);
                top: 13px;
              }
            }
          }
        }
      }
      &.creative-left {
        &.mobile-menu-open {
          .menu-mobile-effect.navbar-toggle {
            margin-top: 25px;
            right: 15px;
            left: auto;
          }
        }
        .menu-mobile-effect.navbar-toggle {
          //left: 0;
        }
        .mobile-menu-container {
          @include translateX(-270px);
          left: 0;
        }
      }
      &.creative-right {
        .menu-mobile-effect.navbar-toggle {
          right: 15px;
        }
        .mobile-menu-container {
          right: 0;
          @include translate(100%, 0px);
        }
      }
      &.mobile-menu-open {
        &.content-pusher {
          &:after {
            @include opacity(1);
          }

          .mobile-menu-container ul.sub-menu li a {
            font-size: 13px;
          }
        }

        .mobile-effect.mobile-menu-container {
          visibility: visible;
          box-shadow: 0 1px 5px -2px rgba(42, 42, 42, .4);
          @include translate(0, 0);
        }
      }
    }

    .mobile-menu-container {
      position: fixed;
      visibility: hidden;
      top: 0;
      bottom: 0;
      z-index: 99999;
      width: 270px;
      height: 100%;
      overflow: auto;
      @include transition(all 0.5s);
      span.icon-toggle {
        cursor: pointer;
      }
      > .nav {
        margin-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
      }

      ul {
        &.navbar-nav {
          margin-top: 50px;
        }
        float: none;
        &.sub-menu {
          background-image: none !important;
          margin-top: 0;
          margin-bottom: 0;
          overflow: hidden;
          display: none;
          li {
            ul {
              display: block;
            }
          }
        }
        li {
          float: none;
          &.current-menu-parent {
            ul.sub-menu {
              display: block;
            }
          }
          &.disable_link {
            margin-left: 20px;
          }
          .icon-toggle {
            position: absolute;
            right: 0;
            width: 32px;
            height: 32px;
            top: 8px;
            &:before,
            &:after {
              display: none;
            }
            .fa {
              vertical-align: middle;
            }
          }
          a {
            display: block;
            outline: none;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
            &:hover,
            :focus {
              background: transparent;
            }
          }
        }
      }
    }
    .admin-bar {
      .affix {
        top: 0;
      }
    }
    .content-pusher {
      right: 0;
      position: relative;
      @include transition(all 0.5s);
      height: 100%;
    }
    .menu-mobile-effect {
      &.navbar-toggle {
        cursor: pointer !important;
        float: right;
        display: inline-block;
        z-index: 1;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        padding: 0;
        position: absolute;
        top: 50%;
        background: #222222;
        //border:1px solid #222;
        margin: -20px 0 0;
        border-radius: 0;
        span.icon-bar {
          width: 22px;
          height: 2px;
          @include rounded(0);
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 11px;
          &:nth-child(2) {
            top: 18px;
          }
          &:nth-child(3) {
            top: 25px;
          }

          @include transition(all 0.3s ease-in-out);
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .mobile-menu-container {
    display: none;
  }
}

.topbar-center {
  padding-bottom: 49px;
  border-bottom: 1px solid #999;
  margin: auto;
  font-size: 14px;
  .widget_info-rest {
    text-align: center;
    padding-top: 20px;
    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      right: 0;
    }
    .icon-title-info {
      position: relative;
      display: flex;
      justify-content: center;
      //color: #212121;
      &.style-1{
        font-size: 18px;
        font-weight: 700;
      }
      &.style-2{
        font-family: 'Roboto Slab', sans-serif;
        font-size: 18px;
        font-weight: bolder;
      }
      img {
        height: 33px;
      }
      .title-info {
        margin-left: 20px;
        padding-top: 4px;
      }
      &::after {
        content: " ";
        position: absolute;
        width: 100px;
        height: 2px;
        border-bottom: 1px solid #979797;
        bottom: -10px;
      }
    }
    .main-content {
      text-align: center;
      letter-spacing: 0;
      margin-top: 20px;
    }
  }
}

header {
  &#masthead {
    .header-v1 {
      row {
        &::before {

        }
      }
    }

    //.navigation{
    //  position: absolute;
    //  left: 0;
    //  right: 0;
    //  z-index: 9999;
    //}
  }
}

header {
  &#masthead {
    transition: all 0.2s linear !important;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    .header-v1 {
      transition: all 0.3s linear;
      width: 100%;
      margin-top: 54px;
      .row {
        .col-sm-12 {
          .tm-table {
            position: static;
            .width-logo {
              text-align: center;
              width:200px;
              position: absolute;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              bottom: 50px;
            }
            .topbar-center{
              .widget_logo-rest{
                text-align: center;
              }
            }
          }
        }
      }
    }
    .menu-main {
      transition: all .2s linear;
      .container {
        .width-navigation {
          .inner-navigation {
            .navbar {
              transition: all .2s linear;
            }
          }
        }
      }
    }
  }
}

.no-transition {
  @include transition(none);
  @include translate(0, 0);
}

.visible-xs {
  .menu-mobile-effect{
    margin-top: 0 !important;
    top:50px !important;
    right: 0!important;
  }
  .navbar-nav {
    width: 100%;
    margin: 0 !important;
    li {
      a {
        padding: 15px !important;
        line-height: 20px;
      }
    }
  }
}


