/*
 * Style Header
 */

#masthead {
	background-repeat: no-repeat;
	background-size: cover;
	@include transition(all ease-out .3s);
	&.affix.menu-hidden {
		@include translate(0, -100%);
	}
}

.tm-table {
	display: table;
	table-layout: fixed;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.table-right {
	float: right;
}

a:focus,
a:active {
	text-decoration: none;
}

.navigation {
	.tm-table {
		width: 100%;
	}
	.width-navigation {
		text-align: right;
		ul {
			li {
				list-style: none;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.inner-navigation {
			a {
				&:hover {
					text-decoration: none;
				}
			}
			.navbar {
				margin-bottom: 0;
				border: none;
				padding: 0;
				text-align: right;
				min-height: inherit;
				> li.menu-item {
					float: none;
					span.icon-toggle {
						opacity: .5;
						margin-left: -10px;
						display: inline-block;
						font-size: 13px;
						font-weight: 700;
					}
					> a {
						text-transform: uppercase;
						display: inline-block;
					}
					> ul.sub-menu {
						left: 0;
					}
				}

				li {
					a {
						padding: 10px 20px;
						display: block;
					}
				}
			}
			.menu-right {
				margin-bottom: 0;
				a {
					padding: 10px;
				}
			}
		}
	}
}

#masthead {
	&.header-overlay {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 999;
	}

	&.header-default {
		position: relative;
	}

	&.no-affix-top {
		.no-sticky-logo {
			display: none;
		}
		.sticky-logo {
			display: block;
		}
	}

	&.affix-top {
		background-color: transparent;
		@include transition(all ease-out .3s);
		.width-logo {
			.no-sticky-logo {
				display: block;
			}
			.sticky-logo {
				display: none;
			}
		}
	}

	&.affix {
		z-index: 9999;
		position: fixed;
		width: 100%;
		@include transition(all ease-out .3s);
		.width-logo {
			.no-sticky-logo {
				display: none;
			}
			.sticky-logo {
				display: block;
			}
		}
	}
}

@media (min-width: 769px) {

	.site-header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navigation {
		.width-logo {
			a {
				&:hover {
					text-decoration: none;
				}
				img {
					@include transition(all ease-out .3s);
				}
			}
		}
		.width-navigation {
			.inner-navigation {
				display: table;
				float: right;
				.navbar {
					display: table-cell;
					vertical-align: middle;
					width: auto;
					> li {
						position: relative;
						.sub-menu {
							min-width: 200px;
							position: absolute;
							top: auto;
							right: 0;
							display: none;
							z-index: 999;
							padding: 0;
							margin: 0;
							background-color: #fff;
							box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							-o-box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							-ms-box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							li {
								width: 100%;
								text-align: left;
								position: relative;
								&:after {
									content: "";
									position: absolute;
									left: 20px;
									right: 20px;
									height: 1px;
									background-color: #eee;
								}
								&:last-child {
									&:after {
										display: none;
									}
								}
								a {
									color: #3a3a3a;
									padding: 14px 20px;
								}
								> .sub-menu {
									top: 0;
									right: 100%;
								}
							}
						}
					}
				}

				.menu-right {
					display: table-cell;
					right: 0;
					section {
						display: table-cell;
						vertical-align: middle;
					}

					.list-links {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.content-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	//@include transition(transform 400ms ease-in-out);
}

#wrapper-container {
	//@include transition(transfrom 400ms ease-in-out);
	overflow: hidden;
}
