header{
  &#masthead{
    transition: all 0.3s linear;
    padding: 0;
    .menu-main{
      position: relative;
      width: 100%;
      .menu-main-navigation{
        padding: 0;
        position: absolute;
        width: 100%;
        transition: all 0.3s ease-out;
        .width-navigation{
          display: flex;
          float:none;
          width: 100%;
          .inner-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .navbar {
              display: flex;
              flex-direction: row;
              margin:auto;
              height: 80px;
              width: 100%;
              padding: 0 350px;
              li {
                margin: auto;
                &.current-menu-item {
                  a {
                    font-weight: bolder;
                  }
                }
                a {
                  color: #212121;
                  font-weight: bolder;
                  &:hover {
                    transition: all 0.3s linear;
                    font-weight: bolder;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


