body{
  &.responsive {
    @media (max-width: 1024px) {
      #main-content {
        .home-content {
          .panel-grid {
            &:nth-child(3), &:nth-child(4) {
              .siteorigin-panels-stretch {
                background: #F8F8F8;
                .panel-grid-cell {
                  .intro-site-container {
                    margin: 0;
                    padding: 0 30px;
                    .intro-detail {
                      p {
                        width: 100%;
                      }
                    }
                  }
                  .main-food-list {
                    padding: 30px 30px 0 30px;
                  }
                }
              }
            }
          }
        }
        .intro-site-container {
          .intro-detail {
            padding:0;
          }
        }
      }
    }
  }
}