/*
 * Style responsive for theme
 */
@import "responsive-customer";

.blog, .single {

  overflow-x: hidden;
  &.responsive {

    @media (max-width: 1200px) {
      header{
        &#masthead{
          .menu-main{
            .menu-main-navigation{
              .width-navigation{
                .inner-navigation {
                  .navbar {
                    padding: 0 150px;
                  }
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
      .topbar-center {
        .widget_info-rest {
          .icon-title-info {
            padding-left: 55px;
            &::after {
              right: 110px;
            }
          }
          .main-content {
            padding-right: 0;
          }
        }
      }
      //food-card-widget
      .inverted-outer {
        .inverted-inner {
          i {
          }
          .inverted-top {
          }
          .inverted-bottom {
          }
          .inverted-left {
          }
          .inverted-right {
          }
          .inverted-content {
            padding: 40px 5%;
          }
          .food-card-name {
          }
          .food-card-des {
          }
        }
      }
      //post-widget
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            .entry-top {
              margin: 0 !important;
              padding: 0 10px !important;
            }
            .entry-content {
              margin: 0 !important;
              padding: 0 10px !important;
              .meta-entry {
                margin-bottom: 5px;
                margin-top: 5px;
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  margin-bottom: 0;
                  a {
                  }
                }
              }
              .entry-summary{
                margin:0 0;
              }
            }
          }
        }
      }
      //footer
      .bottom-bar {
        margin: auto;
        clear: both;
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 207px;
            }
          }
          }
        .widget_logo-rest {
          margin-bottom: 40px;
          .description-logo {
            padding: 0 90px;
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 207px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 207px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media  (max-width: 1366px){
      .site-content{

      }
    }
    @media (max-width: 1024px) {
      .site-content {
        #main {
          max-width: 66.66667%;
          box-sizing: border-box;
          .page-content {
            .comments-area {
              .form-comment {
                .comment-form {
                  justify-content: space-between;
                  .comment-form-author, .comment-form-email {
                    width: calc(50% - 5px);
                    input {
                      width: 100% !important;
                    }
                  }
                }
              }
            }
          }
        }
        #secondary {
          width: 33.33333%;
          margin-left: 0px;
          .widget_banner_ads {
            .so-widget-banner_ads {
              .banner-ads {
                left: 0px;
                margin-left: 0px;
                width: 100%;
                .banner-title {
                  transform: translate(-50%, -50%);
                  left: 50%;
                }
              }
            }
          }
          .widget_text {
            #sb_instagram {
              #sbi_images {
                .sbi_item {
                  width: 90px;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 992px) {
      /**homepage+header+footer**/
      .topbar-center {
        .widget_info-rest {
          .icon-title-info {
            padding-left: 0;
            &::after {
              right: 70px;
            }
          }
          .main-content {
            padding-right: 0;
          }
        }
      }
      .bottom-bar {
        margin: auto;
        clear: both;
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 148px;
            }
          }
        }
        .widget_logo-rest {
          margin-bottom: 40px;
          .description-logo {
            padding: 0 30px;
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 148px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 148px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      .intro-site-container {
        margin-left: 0;
        margin-top: 30px;
        .intro-title {
        }
        .intro-info {
        }
        .intro-detail {
        }
      }
      .home-image-content {
        text-align: center;
      }
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            .entry-top {
            }
            .entry-content {
              margin-top: -15px !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 30px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 15px;
              }
              .entry-summary {
                line-height: 20px;
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media (max-width: 768px) {
      .site-content {
        #main {
          flex-basis: 100%;
          max-width: 100%;
          .loop-pagination{
            border-bottom: solid 1px #979797;
            padding-bottom: 20px;
            margin-bottom: 40px;
          }
        }
        #secondary {
          max-width: 100%;
          flex-basis: 100%;
          .widget_search{
            .search-form{
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .widget_categories{
            ul{
              column-count: 2;
            }
          }
          .widget_recent_posts{
            .blog-content{
              .row{
                ul{
                  li{
                    width:100%;
                  }
                }
              }
            }
          }
          .widget_banner_ads{
            .so-widget-banner_ads {
              .banner-ads {
                width: 70%;
                height: 403px;
                transform: translateX(-50%);
                left: 50%;
                .banner-title {
                  max-width: 370px;
                  width: 240px;
                }
              }
            }
          }
          .widget_text{
            #sb_instagram {
              #sbi_images {
                .sbi_item {
                  width: calc(33.33% - 7.5px);
                }
              }
            }
          }
        }
      }
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -11% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 150px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 150px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }

      .bottom-bar {
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 50px;
          }
        }
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 148px;
            }
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 148px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 148px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 300px;
                //border-bottom: 2px solid #ccc;
                //right: 63px;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      /**homepage+header+footer**/

      /**404 Page**/
      .error-404 {
        .content-error-404 {
          margin-top: 70px;
        }
        .page-404-detail {
          font-size: 16px;
          margin-top: 40px;
        }
      }

      /**404 Page**/

    }
    //body.responsive .site-content #secondary .widget_banner_ads .banner-ads
    @media(max-width: 736px){
      .site-content{
        width: 100%;
        #main{
          margin-bottom: 80px;
          .comments-area{
            .form-comment{
              .comment-form{
                .form-submit{
                  position: relative;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
            }
          }
        }
        #secondary{
          .widget_banner_ads{
            .so-widget-banner_ads {
              .banner-ads {
                width: 500px;
                height: 300px;
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }

    @media (max-width: 414px) {
      .site-content{
        #secondary{
          .widget_banner_ads{
            .so-widget-banner_ads{
              .banner-ads{
                width: 100%;
                height: 250px;

              }
            }
          }
        }
      }
    }
    @media(min-width: 576px) and (max-width: 767px) {
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -11% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 150px;
                  bottom: 10px;
                  .no-sticky-logo {
                    width: 150px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }
      .wpcf7-form {
        .content-contact-form {
          text-align: center;
        }
      }
      /**homepage+header+footer**/
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 300px;
                //border-bottom: 2px solid #ccc;
                //right: 102px;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 102px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 5px;
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 102px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 102px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/

      /**404 Page**/
      .error-404 {
        .content-error-404 {
          text-align: center;
          margin-top: 50px;
          .page-404-detail {
            font-size: 16px;
            margin-top: 20px;
          }
        }
      }
      /**404 Page**/
      .form-comment{
        text-align: center;
      }
      #comments {
        .form-comment {
          .comment-form {
            text-align: center;
            > p {
              &.comment-form-author{
                padding: 0;
                width: 100%;
              }
              &.comment-form-email {
                width: 100%;
                padding: 0;
              }
            }

          }
        }
      }
    }
    @media (max-width: 575px) {
      header {
        &#masthead {
          //position: fixed !important;
          top: 0 !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -14% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 150px;
                  bottom: 10px;
                  .no-sticky-logo {
                    width: 150px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }

      /**homepage+header+footer**/
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 300px;
                //border-bottom: 2px solid #ccc;
                //right: 122px;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 244px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 150px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 244px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 244px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
      .wpcf7-form {
        .content-contact-form {
          text-align: center;
        }
      }

      /**404 Page**/
      .error-404 {
        .content-error-404 {
          text-align: center;
          margin-top: 50px;
          .page-404-detail {
            font-size: 16px;
            margin-top: 20px;
          }
        }
      }
      /**404 Page**/
      .form-comment{
        text-align: center;
      }
      #comments {
        .form-comment {
          .comment-form {
            text-align: center;
            > p {
              &.comment-form-author{
                padding: 0;
                width: 100%;
              }
              &.comment-form-email {
                width: 100%;
                padding: 0;
              }
            }

          }
        }
      }
    }
    @media (max-width: 480px) {
      .intro-site-container {
        margin-left: 0;
        margin-top: 30px;
        .intro-title {
          margin-bottom: 20px;
        }
        .intro-info {
        }
        .intro-detail {
        }
      }
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            margin-top: 90px;
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -16% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 100px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 100px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }

      }
      /**homepage+header+footer**/
      .so-widget-rate-demo {
        .owl-carousel {
          .owl-item {
            .customer-rate-demo {
              .image-profile {

                img {
                  margin: auto;
                }
              }
              .info-rate {
                .customer-feedback {
                  .special-word {
                  }
                  .customer-comment {
                    margin-top: -15px;
                    margin-left: 50px;
                    font-size: 20px;
                  }
                }
                .customer-rate-star {
                  margin-left: 50px;
                  margin-top: 30px;
                  .dashicons-star-filled {
                  }
                }
                .customer-name {
                  margin-top: 40px;

                }
              }
            }
          }
        }

      }
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 100%;
                //right: 0;
                //border-bottom: 2px solid #ccc;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 168px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 70px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 168px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 168px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media (max-width: 320px){
      .comments-area{
        .list-comments{
          ul{
            li{
              .content-comment{
                .author{
                  margin-top:10px;
                  margin-bottom:20px !important;
                  span{
                    .comment-reply-link{
                      margin-top:0 !important;
                    }
                  }
                }
                .message{
                  padding-left:0 !important;
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 375px) and (max-width: 413px) {
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -17% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 100px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 100px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }
      /**homepage+header+footer**/
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 148px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 50px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 148px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 148px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media (min-width: 320px) and (max-width: 374px) {
      /**homepage+header+footer**/
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 120px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 20px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 120px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 120px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -21% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 100px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 100px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .visible-xs, .visible-sm, .visible-md, .visible-lg {
        display: block !important;
      }
      .stack-center .width-logo,
      .header-v3 .navigation-top {
        margin: 0 !important;
        > .tm-table {
          display: block;
        }
        .menu-mobile-effect {
          margin-top: 0;
        }
      }

    }

    @media (min-width: 667px){
      .site-content{
        .content-inner {
          .entry-content {
            .entry-header {
              .entry-title {
                font-size:24px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 736px ){
      .site-content{
      }
    }
    @media (min-width: 1200px){
      .site-content{
        width:1180px;
        padding-left:15px;
        padding-right:15px;
        #main{
          .blog-content{
            padding-right:10px;
            .content-inner {
              .entry-content {
                .entry-header {
                  .entry-title {
                    font-size:32px;
                  }
                }
              }
            }
          }
        }
        #secondary{
          .theiaStickySidebar{
          }
        }
      }
    }
    @media (max-width: 480px) {
      .site-main {
        .type-post {
          .entry-content {
            .entry-tag-share {
              .share-click {
                ul {
                  li {
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }
        .comments-area{
          .list-comments {
            ul{
              li{
                img{
                  width:50px;
                }
                .content-comment{
                  .message{
                    padding-left:75px;
                  }
                }
              }
            }
          }
        }
      }
      #secondary{
        padding-left:15px;
        .widget_recent_posts{
          .thim-sc-posts{
            margin-bottom:50px;
          }
        }
        .widget_banner_ads{
          .banner-ads{
            .banner-title{
              .banner-title-detail{
                p{
                  font-size:24px;
                }
              }
              .banner-title-description{
                p{
                  font-size:20px;
                }
              }
            }
          }
        }

      }
      .thim-social-share li {
        &:nth-last-child(1), &:nth-last-child(2) {
          display: block;
          margin-top: 10px;
        }
      }
    }
    //body.responsive .site-content #secondary .widget_categories ul
    @media (max-width: 414px) {
      .site-content{
        #secondary{
          .widget_banner_ads{
            .banner-ads{
              transform: translateX(0);
              height: 240px;
            }
          }
          .widget_categories{
            ul{
              column-count: 1;
            }
          }
        }
      }
    }
    //body.responsive .site-content #main .page-content .comments-area .form-comment .comment-form .comment-form-author
    @media (max-width: 375px) {
      .site-content{
        #main{
          .page-content{
            .comments-area{
              .form-comment{
                .comment-form{
                  .comment-form-author, .comment-form-email{
                    width: 100%;
                  }
                }
              }
            }
          }
        }
        #secondary{
          .widget_banner_ads{
            .so-widget-banner_ads{
              .banner-ads{
                .banner-title{

                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 320px){
      article:after{
        width:280px;
        margin-left:-140px;
      }
      .content-inner{
        .entry-top{

        }
        .entry-content {
          .entry-header {
            .entry-title {
              font-size: 24px;
            }
          }
          .entry-meta {
            font-size: 12px;
            margin-bottom: 20px;
          }
        }
      }
      .error-404 {
        .img-error-404{
        }
        .content-error-404 {
          .page-header {
            .page-title {
            }
          }
          .page-content {
            margin-top: -10px;
          }
          .page-404-detail {
          }
        }
      }
    }

    &.disable-responsive {

      // Reset the container
      .container {
        width: 1170px;
        max-width: none !important;
      }

      .wrapper-container {
        min-width: 1170px !important;
        overflow: visible !important;
      }

      // Css
      .mobile-menu-container,
      .menu-mobile-effect {
        display: none !important;
      }
    }
  }

}

