/*
 * Style responsive for theme
 */

body {

  overflow-x: hidden;
  &.responsive {

    @media (max-width: 1200px) {
      /**homepage+header+footer**/
      .topbar-center {
        .widget_info-rest {
          .icon-title-info {
            padding-left: 55px;
            &::after {
              right: 110px;
            }
          }
          .main-content {
            padding-right: 0;
          }
        }
      }
      //food-card-widget
      .inverted-outer {
        .inverted-inner {
          i {
          }
          .inverted-top {
          }
          .inverted-bottom {
          }
          .inverted-left {
          }
          .inverted-right {
          }
          .inverted-content {
            padding: 40px 5%;
          }
          .food-card-name {
          }
          .food-card-des {
          }
        }
      }
      //post-widget
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            .entry-top {
              margin: 0 !important;
              padding: 0 10px !important;
            }
            .entry-content {
              margin: 0 !important;
              padding: 0 10px !important;
              .meta-entry {
                margin-bottom: 5px;
                margin-top: 5px;
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  margin-bottom: 0;
                  a {
                  }
                }
              }
              .entry-summary{
                margin:0 0;
              }
            }
          }
        }
      }
      //footer
      .bottom-bar {
        margin: auto;
        clear: both;
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 207px;
            }
          }
          }
        .widget_logo-rest {
          margin-bottom: 40px;
          .description-logo {
            padding: 0 90px;
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 207px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 207px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media (max-width: 1024px){
      .entry-meta{
        margin-top:-20px;
        margin-bottom:10px;
      }
    }
    @media (max-width: 992px) {
      /**homepage+header+footer**/
      .topbar-center {
        .widget_info-rest {
          .icon-title-info {
            padding-left: 0;
            &::after {
              right: 70px;
            }
          }
          .main-content {
            padding-right: 0px;
          }
        }
      }
      .bottom-bar {
        margin: auto;
        clear: both;
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 148px;
            }
          }
        }
        .widget_logo-rest {
          margin-bottom: 40px;
          .description-logo {
            padding: 0 30px;
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 148px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 148px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      .intro-site-container {
        margin-left: 0;
        margin-top: 30px;
        .intro-title {
        }
        .intro-info {
        }
        .intro-detail {
        }
      }
      .home-image-content {
        text-align: center;
      }
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            .entry-top {
            }
            .entry-content {
              margin-top: -15px !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 30px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 15px;
              }
              .entry-summary {
                line-height: 20px;
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media (max-width: 769px) {
      /**homepage+header+footer**/
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -11% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 150px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 150px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }

      .bottom-bar {
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 50px;
          }
        }
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 148px;
            }
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 148px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 148px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 300px;
                //border-bottom: 2px solid #ccc;
                //right: 63px;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      /**homepage+header+footer**/

      /**404 Page**/
      .error-404 {
        .content-error-404 {
          margin-top: 70px;
        }
        .page-404-detail {
          font-size: 16px;
          margin-top: 40px;
        }
      }

      /**404 Page**/

    }
    @media(max-width: 736px){
      .site-main{
        min-width:100%;
      }
      #secondary{
        min-width:100%;
        .banner-ads {
          .banner-image {
            img {
              width: 300px;
              height: 250px;
              left: 50%;
              margin-left: -150px;
            }
          }
          .banner-title{
            top:30%;
            height:40%;
            width: 34%;
            left:32%;
          }
        }
        .widget_recent_posts{
          .list-rencent-post{
            .recent-post-title-thumbnail{
              clear: none;
            }
          }
        }
      }
    }
    //@media(max-width: 667px){
    //  .site-content{
    //    min-width:100%;
    //  }
    //}
    @media(min-width: 576px) and (max-width: 767px) {
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -11% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 150px;
                  bottom: 10px;
                  .no-sticky-logo {
                    width: 150px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }
      .wpcf7-form {
        .content-contact-form {
          text-align: center;
        }
      }
      /**homepage+header+footer**/
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 300px;
                //border-bottom: 2px solid #ccc;
                //right: 102px;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 102px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 5px;
          }
        }
        .widget_info-footer {
          .title-info-footer {
            &::after {
              right: 102px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 102px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/

      /**404 Page**/
      .error-404 {
        .content-error-404 {
          text-align: center;
          margin-top: 50px;
          .page-404-detail {
            font-size: 16px;
            margin-top: 20px;
          }
        }
      }
      /**404 Page**/

    }
    @media (max-width: 575px) {
      header {
        &#masthead {
          //position: fixed !important;
          top: 0 !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -14% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 150px;
                  bottom: 10px;
                  .no-sticky-logo {
                    width: 150px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }

      /**homepage+header+footer**/
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 300px;
                //border-bottom: 2px solid #ccc;
                //right: 122px;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 244px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 150px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 244px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 244px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
      .wpcf7-form {
        .content-contact-form {
          text-align: center;
        }
      }

      /**404 Page**/
      .error-404 {
        .content-error-404 {
          text-align: center;
          margin-top: 50px;
          .page-404-detail {
            font-size: 16px;
            margin-top: 20px;
          }
        }
      }
      /**404 Page**/
    }
    @media (max-width: 480px) {
      .intro-site-container {
        margin-left: 0;
        margin-top: 30px;
        .intro-title {
          margin-bottom: 20px;
        }
        .intro-info {
        }
        .intro-detail {
        }
      }
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            margin-top: 90px;
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -16% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 100px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 100px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }

      }
      /**homepage+header+footer**/
      .so-widget-rate-demo {
        .owl-carousel {
          .owl-item {
            .customer-rate-demo {
              .image-profile {

                img {
                  margin: auto;
                }
              }
              .info-rate {
                .customer-feedback {
                  .special-word {
                  }
                  .customer-comment {
                    margin-top: -15px;
                    margin-left: 50px;
                    font-size: 20px;
                  }
                }
                .customer-rate-star {
                  margin-left: 50px;
                  margin-top: 30px;
                  .dashicons-star-filled {
                  }
                }
                .customer-name {
                  margin-top: 40px;

                }
              }
            }
          }
        }

      }
      .thim-sc-posts {

        .thim-sc-heading {
          .title {
          }
          .description {
          }
        }
        .row {
          .content-inner {
            flex-direction: column;
            .entry-top {
              max-width: 100%;
              order: 1 !important;
              img {
                width: 100% !important;
              }
            }
            .entry-content {
              order: 2 !important;
              margin-top: 0 !important;
              .meta-entry {
                .posted-on {
                  a {
                  }
                  &:after {
                  }
                }
                .byline {
                  .author {
                    a {
                    }
                    &:after {
                    }
                  }
                }
                .related-post-reply {
                  a {
                  }
                }
              }
              .entry-header {
                .entry-title {
                  line-height: 45px;
                  a {
                  }
                }
              }
              .meta-entry {
                line-height: 25px;
              }
              .entry-summary {
                line-height: 35px;
              }
              &::after {
                //position: absolute;
                //content: " ";
                //width: 100%;
                //right: 0;
                //border-bottom: 2px solid #ccc;
                //margin-top: 25px;
              }
            }
          }
        }
      }
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 168px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 70px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 168px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 168px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media (max-width: 375px){
      .banner-ads{
        .banner-title{
          width:70% !important;
          left:15% !important;
        }
      }
    }
    @media (max-width: 320px){
      .comments-area{
        .list-comments{
          ul{
            li{
              .content-comment{
                .author{
                  margin-top:10px;
                  margin-bottom:20px !important;
                  span{
                    .comment-reply-link{
                      margin-top:0px !important;
                    }
                  }
                }
                .message{
                  padding-left:0px !important;
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 375px) and (max-width: 413px) {
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -17% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 100px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 100px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }
      /**homepage+header+footer**/
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 148px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 50px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 148px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 148px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
    }
    @media (min-width: 320px) and (max-width: 374px) {
      /**homepage+header+footer**/
      .bottom-bar {
        .widget_opening-hours-footer{
          .title-info-footer{
            &::after {
              right: 120px;
            }
          }
        }
        .widget_logo-rest {
          padding: 0;
          .description-logo {
            padding: 0 20px;
          }
        }
        .widget_info-footer {
          margin-bottom: 40px;
          .title-info-footer {
            &::after {
              right: 120px;
            }
          }
          .title-content-footer {
          }
          .info-content-footer {
          }
        }
        .widget_nav_menu {
          .widget-title {
            &::after {
              right: 120px;
            }
          }
          .menu-menu-footer-container {
            .menu {
              li {
                a {
                }
              }
            }
          }
        }
      }
      /**homepage+header+footer**/
      header {
        &#masthead {
          //position: fixed !important;
          .header-v1 {
            .navigation {
              .tm-table {
                .menu-mobile-effect {
                  margin: -21% 0 0;
                }
                .topbar-center {
                  display: none;
                }
                .width-logo {
                  width: 100px;
                  bottom: 15px;
                  .no-sticky-logo {
                    width: 100px;
                  }
                  .sticky-logo {
                    width: 150px;
                  }
                }
              }
            }
          }
          .menu-main {
            display: none;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .visible-xs, .visible-sm, .visible-md, .visible-lg {
        display: block !important;
      }
      .stack-center .width-logo,
      .header-v3 .navigation-top {
        margin: 0 !important;
        > .tm-table {
          display: block;
        }
        .menu-mobile-effect {
          margin-top: 0;
        }
      }
      header#masthead {
        .width-logo {
          width: 100%;
          text-align: center;
        }
        .logo {
          display: none;
        }
        .mobile-logo {
          display: inline-block;
        }
      }

      header {
        &.site-header.header-overlay {
          &.affix {
            position: fixed;
          }
        }

        &.site-header {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .width-navigation {
          display: none;
        }

        .width-logo {
          float: left;
        }
      }
      .main-top {
        .content .title {
          font-size: 30px;
          margin-bottom: 0;
        }
      }
      .content-inner {
        .entry-content {
          .entry-header {
            .entry-title {
              font-size: 25px;
              margin-bottom:8px;
            }
          }
          .entry-meta {
            font-size: 13px;
            margin-top:0px;
            margin-bottom: 10px;

          }
          .entry-summary {
            font-size: 14px;
          }
          .readmore {
            a {
              padding: 9px 20px;
            }
          }
        }
      }
      .widget_banner_ads{
        .banner-ads{
          .banner-image{
            img {
              width: 100%;
              height:100%;
              left:inherit;
              margin-left:inherit;
            }
          }
          .banner-title{
            top:20%;
            height:60%;
            .banner-title-detail{
              p {
                font-size:18px;
              }
            }
            .banner-title-description{
              p{
                font-size:14px;
              }
            }
          }
        }
      }
      .widget_recent_posts{
        .list-rencent-post{
          .recent-post-thumbnail{
            margin-bottom:5px;
          }
          .recent-post-title-thumbnail{
            clear: left;
          }
        }
      }
    }
    @media (min-width: 667px){
      .site-content{
        width:670px;
        .content-inner {
          .entry-content {
            .entry-header {
              .entry-title {
                font-size:24px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 736px ){
      .site-content{
        width: 725px;
      }
    }
    @media (min-width: 1024px){
      .site-content{
        width:1190px;
        .content-inner {
          .entry-content {
            .entry-header {
              .entry-title {
                font-size:32px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 480px) {
      .site-main {
        .type-post {
          .entry-content {
            .entry-tag-share {
              .share-click {
                ul {
                  li {
                    margin-top: 0px;
                  }
                }
              }
            }
          }
        }
        .comments-area{
          .list-comments {
            ul{
              li{
                img{
                  width:50px;
                }
                .content-comment{
                  .message{
                    padding-left:75px;
                  }
                }
              }
            }
          }
        }
      }
      #secondary{
        padding-left:15px;
        .widget_recent_posts{
          .thim-sc-posts{
            margin-bottom:50px;
          }
        }
        .widget_banner_ads{
          .banner-ads{
            .banner-title{
              .banner-title-detail{
                p{
                  font-size:24px;
                }
              }
              .banner-title-description{
                p{
                  font-size:20px;
                }
              }
            }
          }
        }

      }
      .thim-social-share li {
        &:nth-last-child(1), &:nth-last-child(2) {
          display: block;
          margin-top: 10px;
        }
      }
    }

    @media (max-width: 414px) {
      .site-main{
        min-width:100%;
      }
      article:after {
        width: 300px;
        margin-left: -150px;
      }
      .content-inner {
        .entry-top {
          float: none !important;
          width: 100% !important;
          margin-bottom: 30px;
        }
        .entry-content {
          float: none !important;
          width: 100% !important;
          padding-top:0px;
          .entry-header {
            margin-bottom: 10px;
            .entry-title {
            }
          }
          .entry-meta {
            font-size: 14px;
            margin-bottom: 17px;
          }
          .readmore {
            a {
              left: 50%;
              margin-left: -64.2px;
            }
          }
        }
      }
      #secondary{
        .banner-ads{
          .banner-image{
            img{
              width:300px;
              height: 250px;
              left:50%;
              margin-left:-150px;
            }
          }
          .banner-title{
            top:30%;
            height:40%;
          }
        }
      }
    }
    @media (max-width: 320px){
      article:after{
        width:280px;
        margin-left:-140px;
      }
      .content-inner{
        .entry-top{

        }
        .entry-content {
          .entry-header {
            .entry-title {
              font-size: 24px;
            }
          }
          .entry-meta {
            font-size: 12px;
            margin-bottom: 20px;
          }
        }
      }
      .error-404 {
        .img-error-404{
        }
        .content-error-404 {
          .page-header {
            .page-title {
            }
          }
          .page-content {
            margin-top: -10px;
          }
          .page-404-detail {
          }
        }
      }
    }

    &.disable-responsive {

      // Reset the container
      .container {
        width: 1170px;
        max-width: none !important;
      }

      .wrapper-container {
        min-width: 1170px !important;
        overflow: visible !important;
      }

      // Css
      .mobile-menu-container,
      .menu-mobile-effect {
        display: none !important;
      }
    }
  }

}