/*
 * Style for button */

input[type="submit"],
.button,
.submit {
	color: #616161;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	padding: 8px 25px;
	display: inline-block;
	&:hover {
		color: #fff;
	}
}
