/*
 * General style customizer options */

.flexslider {
  .flex-direction-nav a {
    background: $thim_body_primary_color;
    &:before {
      color: $thim_body_primary_color;
    }
    &:hover {
      background: $thim_body_primary_color;
    }
  }
}
//page-title
.page-title{
  .main-top{
    .content{
      h1{
        font-family: $thim_font_title_font_family;
      }
    }
  }
}

//404

.error-404 {
  &.style-1{
    .content-error-404{
      .page-content{
        p{
          color:$thim_font_title_color;
        }
      }
    }
  }
  &.style-1{
    background-image: url($thim_404_background_image);
    .content-error-404{
      .page-header{
        .page-title{
          color:$thim_body_primary_color;
        }
      }
      .page-content{
        h1{
        }
      }
    }
  }
}

//contact-form-hairsalon
.content-contact-form-hairsalon{

  .contact-submit {
    .wpcf7-submit {
      &:hover{
        background:$thim_body_primary_color;
      }
    }
  }
}