/*
 * Include common style for theme */
// style widget categories
.widget_categories {
  margin-bottom: 35px !important;
}

// style widget recent posts
.widget_recent_posts {
  margin-bottom: 0 !important;
}

.widget_banner_ads{
  margin-bottom: 52px !important;
}

// style widget top blog detail
.widget_top_blog_detail {
  margin-bottom: 60px !important;
}

// style widget search
.widget_search {
  margin-bottom:52px !important;
  .search-form {
    &:after {
      height: 50px;
      line-height: 50px;
    }
  }
}

.widget-top-blog-detail {
  text-align: center;
  img {
    border-radius: 100%;
    margin-bottom: 25px;
  }
  .widget-title-blog-detail {
    font-size: 22px;
    position: relative;
    font-weight: 700;
    color: #333;
    p {
      padding-bottom: 15px;
    }
  }
  .widget-title-blog-detail:after {
    position: absolute;
    background: #E6AE69;
    width: 50px;
    height: 2px;
    content: '';
    left: 50%;
    margin-left: -25px;
  }
  .widget-description-blog-detail {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
  }
}

// style recent post in blog detail
.list-rencent-post {
  li {
    clear: both;
    display: inline-table;
    padding-right: 0px !important;
    margin-bottom: 30px !important;
    overflow: auto;
    .recent-post-thumbnail {
      float: left;
      margin-right: 20px;
    }
    .recent-post-title-thumbnail {
    }
  }
}

//style banner ads
.banner-ads {
  position: relative;
  width: 300px;
  height: 250px;
  left: 50%;
  margin-left: -150px;
  .banner-image {
    height:100%;
    .banner-image{
      height:100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .banner-title {
    width:210px;
    min-height:100px;
    //width: 70%;
    //height: 40%;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    text-align: center;
    opacity: 0.6;
    background: #FFFFFF;
    position: absolute;
    overflow: auto;
    .banner-title-detail {
      padding-top: 26px;
      p {
        font-family: Andada-Bold;
        font-size: 24px;
        font-weight: 600;
        color: #212121;
      }
    }
    .banner-title-description {
      padding-bottom: 26px;
      p {
        font-family: Roboto-Regular;
        font-size: 20px;
        color: #464646;
      }
    }
  }
}

// Site content
.site-content {
  padding-top: 0px;
  padding-bottom: 0px;
  &.no-padding {
    padding: 0;
  }
}
// Slider style
.flexslider {
  ul {
    margin: 0;
    list-style: none;
  }
  position: relative;
  .flex-direction-nav {
    margin: 0;
    a {
      position: absolute;
      z-index: 9;
      top: 50%;
      cursor: pointer;
      width: 31px;
      margin: 0;
      height: 32px;
      background-color: #fff;
      text-align: center;
      overflow: hidden;
      margin-top: -16px;
      @include transition(all .3s ease-in-out);
      &:hover {
        &:before {
          color: $white;
        }
      }
    }
    .flex-prev {
      left: -36px;
      opacity: 0;
      &:before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 22px;
        line-height: 31px;
        display: inline-block;
      }
    }
    .flex-next {
      right: -36px;
      opacity: 0;
      &:before {
        content: "\f105";
        font-family: "FontAwesome";
        font-size: 22px;
        line-height: 31px;
        display: inline-block;
      }
    }
  }

  &:hover {
    .flex-direction-nav {
      .flex-prev {
        opacity: 0.8;
        left: 5px;
      }
      .flex-next {
        opacity: 0.8;
        right: 5px;
      }
    }
  }
}

// 404 page
.error-404 .search-form {
  max-width: 50%;
}

.error-404 {
  &.style-1 {
    .img-error-404 {
      text-align: center;
    }
    .content-error-404 {
      .page-header {
        .page-title {
          font-family: "Great Vibes", sans-serif;
          font-size: 40px;
        }
      }
      .page-content {
        padding-top:20px ;
        margin-top: -25px;
        font-size: 40px;
        font-weight: bolder;
      }
      .page-404-detail {
        font-size: 16px;
        margin-top: 50px;
      }
    }
  }
  &.style-2 {
    margin-bottom: -2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .content-error-404 {
      margin-left: 25%;
      margin-top: 269px;
      margin-bottom: 304px;
      .page-header {
        .page-title {
          font-size: 40px;
          letter-spacing: 0;
          margin: 0;
        }
      }
      .page-content {
        h1 {
          margin: 0;
          font-size: 26px;
          color: white;
        }
      }
    }
  }
}

// Style Contact Form Resta
.intro-site-container {
  .intro-detail {
    min-height: 125px;
    p {
      position: absolute;
      width: 770px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.wpcf7-form {
  .content-contact-form {
    margin-bottom: 75px;
    max-width: 570px;
    .wpcf7-form-control-wrap {
      margin-bottom: 30px;
      display: inline-block;
      width: 100%;
      .wpcf7-text {
        color: white;
        height: 45px;
        padding: 14px 0 15px 20px;
        background: none;
        border: 1px solid #fff;
        width: 100%;
        font-size: 14px;
        &::placeholder {
          color: white;
        }
      }
      .wpcf7-emai {
        @extend .wpcf7-text;

      }
      .wpcf7-textarea {
        @extend .wpcf7-text;
        height: 130px;
      }
    }

    .contact-submit {
      .wpcf7-submit {
        font-size: 14px;
        padding: 15px 30px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        color: #616161;
      }
    }
  }

  .content-contact-form-hairsalon{
    display: flex;
    justify-content: space-between;
    width: 770px;
    margin: auto;
    margin-bottom: 100px;
    div{
      padding:0;
      &:nth-child(1), &:nth-child(2){
        max-width: 370px;
        height: 45px;
        margin-bottom: 30px;
      }
      &:nth-child(3){
        width: 100%;
        height: 186px;
        margin-bottom: 31px;
        .wpcf7-form-control{
          width: 770px;
        }
      }
      &:nth-child(4){
        input{
          width: 148px;
          height: 50px;
        }
      }
    }
    .wpcf7-form-control-wrap {
      margin-bottom: 30px;
      display: inline-block;
      .wpcf7-text {
        color:#999;
        height: 45px;
        padding: 14px 0 15px 20px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        width: 370px;
        font-size: 14px;
        &::placeholder {
        }
      }
      .wpcf7-emai {
        @extend .wpcf7-text;

      }
      .wpcf7-textarea {
        @extend .wpcf7-text;
        height: 186px;
      }
    }
    .contact-submit {
      .wpcf7-submit {
        cursor:pointer;
        font-size: 14px;
        border: 1px solid #C68143;
        background: #fff ;
        color: #424242;
        transition: all .3s linear;
        &:hover{
          color:white;
        }
      }
    }
  }
}

//404
.fa-1{
  color: #272E35;
  font-size:6px;
}

// style home page
#main-content {
  .home-content {
    .panel-grid {
      &:nth-child(3), &:nth-child(4) {
        .siteorigin-panels-stretch {
          background: #F8F8F8;
          .panel-grid-cell {
            width: 50%;
            .intro-detail {
              position: relative;
              p {
                width: 600px;
              }
            }
          }
        }
      }
    }
  }
}

// style 404

.error404{
  #main-content{
    .page-title{
      display: none;
    }
    .site-content{
      width: 100%;
      padding-bottom: 47px;
      padding-top: 0px;
      .error-404{
        position: relative;
        height: 680px;
        .content-error-404{
          position: absolute;
          left:25%;
          top: 50%;
          transform: translateY(-50%);
          .page-title{
            font-family: Roboto;
            color: #C68143;
            display: block;
          }
          .page-content{
            h1 {
              font-size: 26px;
              color: #FFF;
            }
          }
        }
      }
    }
  }
  .bottom-bar{
    border: none;
    padding-top:0;
  }
}

.breadcrumb-content{
  margin-bottom: 93px;
  .breadcrumbs-wrapper{
    .breadcrumbs{
      width: 470px;
      text-align: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 60px;
      padding:0;
      border-bottom: 1px solid #979797;
      li{
        line-height: 60px;
        a{
          font-size: 14px;
          color: #263238;
        }
      }
    }
  }
}
