/*
 * Include common style for theme */
// style widget categories
.widget_categories{
  margin-bottom:35px !important;
}

// style widget recent posts
.widget_recent_posts{
  margin-bottom:30px !important;
}

// style widget top blog detail
.widget_top_blog_detail{
  margin-bottom:60px !important;
}

// style widget search
.widget_search{
  .search-form {
    .search-field {
      height: 50px;
    }
    &:after {
      height: 50px;
      line-height: 50px;
    }
  }
}
.widget-top-blog-detail{
  margin-top:25px;
  text-align: center;
  img{
    border-radius: 100%;
    margin-bottom:25px;
  }
  .widget-title-blog-detail{
    font-size:22px;
    position: relative;
    font-weight:600;
    p{
      padding-bottom:15px;
    }
  }
  .widget-title-blog-detail:after{
    position: absolute;
    background: #E6AE69;
    width:50px;
    height:2px;
    content: '';
    left:50%;
    margin-left: -25px;
  }
  .widget-description-blog-detail{
    margin-top:20px;
    font-size:16px;
  }
}

// style recent post in blog detail
.list-rencent-post{
  li{
    clear: both;
    display: inline-table;
    padding-right:0px !important;
    .recent-post-thumbnail {
      float: left;
      margin-right:20px;
    }
    .recent-post-title-thumbnail {
    }
    }
}

//style banner ads
.banner-ads{
  .banner-image{
    position: relative;
    img{
      width:300px;
      height: 250px;
      left:50%;
      margin-left:-150px;
      position: relative;
    }
  }
  .banner-title{
    width:70%;
    height:40%;
    top:30%;
    left:15%;
    text-align: center;
    opacity: 0.6;
    background: #FFFFFF;
    position: absolute;
    overflow: auto;
    .banner-title-detail{
      padding-top:12px;
      p {
        font-family: Andada-Bold;
        font-size: 24px;
        font-weight: 600;
        color: #212121;
      }
    }
    .banner-title-description{
      p{
        font-family: Roboto-Regular;
        font-size: 20px;
        color: #464646;
      }
    }
  }
}
// Site content
.site-content {
  padding-top: 100px;
  padding-bottom: 100px;
  &.no-padding {
    padding: 0;
  }
}

// Slider style
.flexslider {
  ul {
    margin: 0;
    list-style: none;
  }
  position: relative;
  .flex-direction-nav {
    margin: 0;
    a {
      position: absolute;
      z-index: 9;
      top: 50%;
      cursor: pointer;
      width: 31px;
      margin: 0;
      height: 32px;
      background-color: #fff;
      text-align: center;
      overflow: hidden;
      margin-top: -16px;
      @include transition(all .3s ease-in-out);
      &:hover {
        &:before {
          color: $white;
        }
      }
    }
    .flex-prev {
      left: -36px;
      opacity: 0;
      &:before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 22px;
        line-height: 31px;
        display: inline-block;
      }
    }
    .flex-next {
      right: -36px;
      opacity: 0;
      &:before {
        content: "\f105";
        font-family: "FontAwesome";
        font-size: 22px;
        line-height: 31px;
        display: inline-block;
      }
    }
  }

  &:hover {
    .flex-direction-nav {
      .flex-prev {
        opacity: 0.8;
        left: 5px;
      }
      .flex-next {
        opacity: 0.8;
        right: 5px;
      }
    }
  }
}

// 404 page
.error-404 .search-form {
  max-width: 50%;
}

.error-404 {
  .img-error-404{
    text-align: center;
  }
  .content-error-404 {
    margin-top: 90px;
    .page-header {
      .page-title {
        font-family: "Great Vibes", sans-serif;
        font-size: 40px;
      }
    }
    .page-content {
      margin-top: -25px;
      font-size: 40px;
      font-weight: bolder;
    }
    .page-404-detail {
      font-size: 16px;
      margin-top: 50px;
    }
  }
}

// Style Contact Form Resta
.wpcf7-form {
  margin-bottom: 75px;
  .content-contact-form {
    max-width: 570px;
    .wpcf7-form-control-wrap {
      margin-bottom: 30px;
      display: inline-block;
      width: 100%;
      .wpcf7-text {
        color: white;
        height: 45px;
        padding: 14px 0 15px 20px;
        background: none;
        border: 1px solid #fff;
        width: 100%;
        font-size: 14px;
        &::placeholder {
          color: white;
        }
      }
      .wpcf7-emai {
        @extend .wpcf7-text;

      }
      .wpcf7-textarea {
        @extend .wpcf7-text;
        height: 130px;
      }
    }

    .contact-submit {
      .wpcf7-submit {
        font-size: 14px;
        padding: 15px 30px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        color: #616161;
      }
    }
  }
}

//404
.content-error-404{
  .page-content{
    padding-top: 20px;
    p{
    }
  }
}
