/*
 * Style for single post */

.page-content {
  article {
    .content-inner {
      border-bottom: 1px solid #979797;
      margin-bottom: 24px;
      .post-formats-wrapper iframe {
        width: 100%;
      }
      .entry-content {
        padding: 29px 0px 45px;
        .entry-description {
          margin-bottom: 42px;
          font-size: 16px;
        }
        .entry-tag-share {
          display: flex;
          flex-direction: column;
          span {
            font-weight: bold;
            margin-bottom: 16px;
            color: #666666;
          }
          &:after {
            @extend .clear-after;
          }
          ul {
            margin: 0;
          }
          .tags-links {
            color: #999;
            display: inline-block;
            font-weight: 400;
            vertical-align: text-top;
          }
          .share-click {
            display: inline-block;
            float: right;
            .thim-social-share > li:last-child {
              margin-right: 0;
            }
          }
        }

      }
    }
    .nav-single {
      border-bottom: 1px solid #979797;
      overflow: auto;
      .nav-wrapper {
        h3 {
          width: 45%;
          font-size: 18px;
          margin-bottom: 22px;
          a {
            color: #333333;
            span {
              color: #666666;
              display: block;
              font-size: 16px;
              margin-bottom: 6px;
            }
          }
        }
        .nav-next {
          float: right;
          text-align: right;
        }
        .nav-previous {
          float: left;
        }
      }
    }
    // style author about
    .thim-about-author {
      margin-bottom: 30px;
      padding: 30px 32px;
      .author-wrapper {
        display: table;

        .author-avatar {
          text-align: center;
          display: table-cell;
          min-width: 100px;
          img {
            border-radius: 100%;
            margin-bottom: 15px;
          }
          .author-top {
            .name {
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
            }
            .role {
              padding: 0;
              margin: 0;
              font-size: 14px;
              font-weight: bold;
              font-style: italic;
              color: #999;
              text-transform: capitalize;
            }
          }
        }

        .author-bio {
          padding-left: 50px;
          display: table-cell;
          vertical-align: top;
          .author-description {
            margin-bottom: 30px;
          }
          .thim-author-social {
            margin: 0;
            padding: 0;
            li {
              display: inline-block;
              list-style: none;
              margin-right: 10px;
              &:last-child {
                margin-right: 0;
              }
              a {
                i {
                  width: 30px;
                  height: 30px;
                  text-align: center;
                  line-height: 30px;
                  border: 1px solid #999;
                  color: #999;
                  border-radius: 100%;
                }
                &:hover {
                  &.facebook {
                    i {
                      color: #3b5999;
                      border-color: #3b5999;
                    }
                  }
                  &.twitter {
                    i {
                      color: #55acee;
                      border-color: #55acee;
                    }
                  }
                  &.skype {
                    i {
                      color: #00AFF0;
                      border-color: #00AFF0;
                    }
                  }
                  &.pinterest {
                    i {
                      color: #bd081c;
                      border-color: #bd081c;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // post formats
    &.format-chat {
      .group-chat li {
        font-weight: 700;
        .chat-name {
          min-width: 80px;
          display: inline-block;
        }
        .chat-message {
          font-weight: 400;
        }
      }
    }
    // style related post
    .related-archive {
      background: #fff;
      padding: 15px 30px;
      .related-title {
        font-size: 24px;
        margin-top: 23px;
        margin-bottom: 25px;
      }
      ul {
        list-style: none;
        margin-bottom: 0;
        li {

          .rel-post-text .entry-title {
            margin-top: 25px;
            font-size: 18px;
            &.no-images {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.thim-social-share {
  margin: 35px 0 0 0;
  display: block;
  li {
    display: inline-block;
    list-style: none;
    float: left;
    max-height: 20px;
    line-height: 20px;
    margin-right: 10px;
    max-width: 95px;
    &.google-plus {
      max-width: 57px;
    }
  }
}

#comments {
  .list-comments {
    background-color: #fff;
    padding: 20px 0px;
    padding-top: 44px;
    margin-bottom: 43px;
    border-bottom: 1px solid #979797;
    .comments-title {
      font-size: 24px;
    }
    .comment-list{
      .depth-1{
        &:last-child{
          .message{
            //border-bottom: none;
          }
        }
      }
    }
    .comment-list, ul {
      margin: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 20px 0;
        > &:last-child {
          border-bottom: 1px solid $border-color;
        }
        img {
          border-radius: 100%;
          float: left;
          margin-right: 10px;
          width: 50px;
        }
        .author-name,
        .author-name a {
          font-weight: 700;
          text-transform: uppercase;
        }
        .content-comment {
          width: auto;
          margin-top: -8px;
          .author {
            font-size: 16px;
            margin-bottom: 8px;
            .comment-extra-info {
              font-size: 14px;
              margin-left: 30px;
              font-weight: 400;
            }
            .author-name {

            }
            span {
              .comment-reply-link {
                color: #333333;
                float: right;
                font-size: 14px;
                font-weight: bold;
                margin-top: 2px;
                &:hover {
                  text-decoration: none;
                }
              }

              .comment-edit-link {
                font-size: 13px;
                font-weight: bold;
                margin-left: 10px;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
          .message {
            margin-left: 60px;
            border-bottom: 1px solid #eee;
            padding-bottom: 32px;
          }
          .message {
            @media (min-width: 991px) {
            }
            img.emoji {
              float: none;
            }
          }
        }
        &:first-child {
          border-top-color: transparent;
        }
        .children {
          @media (min-width: 568px) {
            padding-top: 30px;
            padding-left: 50px;
          }
          @media (max-width: 414px){
            padding-left: 30px;
          }
          li {
          }
        }
      }
    }
  }

  .form-comment {
    background-color: #fff;
    .comment-form {
      p {
        input {
          font-family: Roboto;
        }
      }
      display: flex;
      flex-wrap: wrap;
      .comment-notes, .comment-form-comment {
        width: 100%;
      }
      .comment-form-comment {
        margin-bottom: 30px;
      }
      .comment-notes {
        margin-bottom: 26px;
      }
      .comment-form-author, .comment-form-email {
        width: 50%;
        margin-bottom: 30px;
        #author, #email {
          width: 370px;
          height: 45px;
          box-sizing: border-box;
        }
        #email {
          float: right;
        }
      }

      .form-submit {
        width: 148px;
        height: 50px;
        margin-bottom: 100px;
        .submit {
          background: #FFFFFF;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          font-size: 14px;
          color: #424242;
          font-weight: 700;
          border: 1px solid #C68143;
          transition: all .2s;
        }
        .submit {
          &:hover {
            background: #df963d;
            color: #fff;
            border: none;
          }
        }
      }
    }
    #reply-title {
      margin-bottom: 0;
      font-size: 16px;
      color: #666;
    }
    .comment-form {
      .logged-in-as a {
        &:hover {
          text-decoration: underline;
        }
      }
      > p {

        &.comment-notes,
        &.comment-form-comment,
        &.form-submit {
          display: block;
        }
        input[type="text"],
        input[type="email"] {
          width: 100%;
        }
        input.submit {
          border: none;
          height: 40px;
          line-height: 40px;
          padding: 0 26px;
          color: #616161;
          border: 1px solid #CCCCCC;
        }
      }

      textarea,
      input[type="email"], input[type="text"] {
        outline: none;
        box-shadow: none;
        font-size: 14px;
        color: #999;
        padding-left: 20px;
      }
      textarea {
        width: 100%;
        height: 186px;
        box-sizing: border-box;
        padding-top: 14px;
      }

      input,
      textarea {
        &::-webkit-input-placeholder {
          color: #999;
        }
        &:-moz-placeholder {
          color: #999;
        }
        &::-moz-placeholder {
          color: #999;
        }
        &:-ms-input-placeholder {
          color: #999;
        }
      }
    }
  }
}

#thim-header-topbar {
  background: none !important;
}

.header_left_right {
  .head_header {
    .logo_header {
      .title_logo {
        font-family: GreatVibes-Regular !important;
      }
    }
  }
}

// full width main
.blog {
  #main {
    article {
      .content-inner {
        .entry-top {
          .post-formats-wrapper {
            .post-image {
              img {
                max-width: 770px;
                max-height: 450px;
              }
            }
          }
        }
        .entry-content {
          width: 100%;
        }
      }
      .entry-meta {
        .author {
          //margin-right:0px !important;
          a {
            font-weight: bold;
          }
        }
      }
    }
  }

}

.single-post {
  #main {
    article {
      overflow: auto;
      .entry-meta {
        .author {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }

}


