// Sidebar
.search-form {
  .search-field {
    &:focus {
      border: 1px solid $thim_body_primary_color;
    }
  }
}

.widget-area {
  aside.widget {
    margin-bottom: $thim_sidebar_widget_margin_bottom;
    .widget-title, .rsswidget {
      color: $thim_sidebar_widget_title_color;
      font-size: $thim_sidebar_widget_title_font_size;
    }
  }

  ul li a {
    color: $thim_font_body_color;
    &:hover {
      color: $thim_body_primary_color;
    }
  }

  .calendar_wrap a {
    color: $thim_body_primary_color;
  }

  .tagcloud a {
    color: $thim_font_body_color;
    &:hover {
      color: $thim_body_primary_color;
    }
  }
}
