.thim-sc-posts {
	padding-top: 30px;
	padding-bottom: 30px;
	.thim-sc-heading {
		margin-bottom: 50px;
	}
	.botton-category {
		margin-top: 66px;
	}
	&.blog-content {
		article {
			.entry-top {
				margin-bottom: 25px;
			}
			.entry-summary {
				margin-top: 25px;
				margin-bottom: 27px;
			}
		}
	}
	.readmore {
		font-size: 14px;
		font-weight: 600;
		line-height: 26px;
		text-transform: uppercase;
	}
}
