.inverted-outer {
  overflow: hidden;
  .inverted-inner {
    border: 1px solid #212121;
    i {
      width: 25px;
      height: 25px;
      border: 1px solid #212121;
      border-radius: 50%;
      background-color: #fff;
    }
    .inverted-top {
      margin-top: -10px;
    }
    .inverted-bottom {
      margin-top: -15px;
      margin-bottom: -10px;
    }
    .inverted-left {
      float: left;
      margin-left: -10px;
    }
    .inverted-right {
      float: right;
      margin-right: -10px;
    }
    .inverted-content {
      padding: 40px 10%;
      text-align: center;
      .food-card-img {
        height: 210px;

      }
      .food-card-name {
        font-family: 'Great Vibes',sans-serif;
        font-size: 40px;
        color: #212121;
        margin-top: 40px;
      }
      .food-card-des{
        font-size: 16px;
      }
    }
  }
}