.intro-site-container{
  margin-left: 0;
  margin-top: 90px;
  .intro-title{
    font-family: 'Great Vibes', sans-serif;
    font-size: 40px;
  }
  .intro-info{
    margin-top: -20px;
    display:flex;
    font-size:40px;
    font-weight: bolder;
  }
  .intro-detail{
    margin-top: 32px;
    font-size: 16px;
  }
}
