.thim-sc-posts {
  margin-bottom: 130px;
  .thim-sc-heading {
    margin-bottom: 70px;
    text-align: center;
    .title {
      font-size: 40px;
      font-family: 'Great Vibes', sans-serif;
      margin-bottom: -20px;
    }
    .description {

      font-size: 40px;
      font-weight: bolder;
    }
  }
  .content-inner {
    .entry-content {

      .meta-entry {
        margin-bottom: 25px;
        margin-top: 23px;
        .posted-on {
          a {
            font-size: 14px;
            letter-spacing: 0;
            line-height: 25px;
          }
          &:after {
            content: " -";
            width: auto;
          }
        }
        .byline {
          .author {
            a {
              text-transform: capitalize;
              font-weight: bolder;
              font-size: 14px;
              letter-spacing: 0;
              line-height: 25px;
            }
            &:after {
              content: " -";
              width: auto;
            }
          }
        }
        .related-post-reply {
          a {
            font-size: 14px;
            letter-spacing: 0;
            line-height: 25px;
          }
        }
      }
      .entry-header {
        .entry-title {
          a {
            font-size: 26px;
            font-weight: bolder;
          }
        }
      }
    }
  }
  .readmore {
    text-align: center;
    margin-top: 50px;
    a {
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      padding: 20px 50px;
      font-weight: bolder;
      font-size: 16px;
    }

  }
}