.so-widget-rate-demo {
  position: relative;
  .overlay-top-rate {
    position: absolute;
    top: 0;
    background: black;
    opacity: 0.8;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .customer-rate-demo {
    padding: 100px 14% 100px 14%;
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    .image-profile {

      img{
      }
    }
    .info-rate {
      .customer-feedback {
        .special-word {
          font-size: 33px;
        }
        .customer-comment {
          margin-top: -15px;
          margin-left: 50px;
          font-size: 20px;
        }
      }
      .customer-rate-star {
        margin-left: 50px;
        margin-top: 30px;
        .dashicons-star-filled {
          color: #e6ae48;
        }
      }
      .customer-name {
        margin-top: 40px;
        font-size: 34px;
        font-family: "Great Vibes", sans-serif;
      }
    }
  }
}